# sensitive settings
zsh/local
!zsh/local/.gitkeep

zsh/data
!zsh/data/.gitkeep

# swap files
zsh/*.sw[po]

# netrwhist history file
config/nvim/.netrwhist

config/nvim/.tmp
!config/nvim/.tmp/.gitkeep

config/nvim/.undo
!config/nvim/.undo/.gitkeep

# Ignore all bundles
config/nvim/plugged

# The following bits are copied over when running ./install
# so can be ignored
config/nvim/autoload/plug.vim
zsh/plugins/pure_prompt_setup
zsh/plugins/async
local/bin/diff-so-fancy
