# sensitive settings
zsh/local
!zsh/local/.gitkeep

zsh/data
!zsh/data/.gitkeep

# swap files
zsh/*.sw[po]

# netrwhist history file
vim/.netrwhist

vim/.tmp
!vim/.tmp/.gitkeep

vim/.undo
!vim/.undo/.gitkeep

# Ignore all bundles
vim/plugged
