[submodule "deps/diff-so-fancy"]
	path = deps/diff-so-fancy
	url = git://github.com/so-fancy/diff-so-fancy
[submodule "deps/dotbot"]
	path = deps/dotbot
	url = git://github.com/anishathalye/dotbot
[submodule "deps/pure-prompt"]
	path = deps/pure-prompt
	url = git://github.com/sindresorhus/pure
[submodule "deps/vim-plug"]
	path = deps/vim-plug
	url = git://github.com/junegunn/vim-plug
